:root {
    --color-blue: #002147;
    --color-yellow: #fdc800;
    --color-text: #1a1d2d;
    --color-white: #fff;
    --color-disc: #888888;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.clear {
    clear: both;
}

.btn {
    background-color: var(--color-yellow);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.header {}

.header__contact {
    height: 40px;
    background-color: var(--color-blue);
    padding: 0 200px;
}

.header__contact--text {
    line-height: 40px;
    margin-right: 40px;
}

.header__contact--text i {
    color: var(--color-yellow);
    margin-right: 5px;
}

.header__contact--text a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.header__contact--btn {
    float: right;
    background-color: var(--color-yellow);
    width: 130px;
    height: 40px;
    text-align: center;
}

.header__contact--btn a {
    text-decoration: none;
    line-height: 40px;
    color: var(--color-text);
    font-weight: 600;
}

.header__nav {
    padding: 0 200px;
}

.header__nav--logo {
    margin: 10px 0;
    height: 45px;
    display: inline-flex;
}

.header__nav--icon {
    background-color: var(--color-blue);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-right: 12px;
}

.header__nav--icon i {
    color: var(--color-yellow);
    line-height: 45px;
}

.header__nav--title {
    display: inline-block;
    color: var(--color-text);
    font-size: 35px;
    font-weight: 600;
}

.header__nav--container {
    list-style: none;
    margin: 10px 20px;
}

.header__nav--content {
    float: left;
    margin-right: 30px;
}

.header__nav--content:first-child a {
    color: var(--color-yellow);
}

.header__nav--link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 18px;
}

.course {
    position: relative;
    background-image: url(../img/2.jpg);
    height: 600px;
    background-size: cover;
    filter: brightness(50%);
}

.intro {
    position: relative;
}

.intro__container {
    position: absolute;
    margin: 0 190px;
    top: -107px;
    left: 0;
    right: 0;
}

.intro__content {
    float: left;
    width: 33.33333%;
    padding: 0 10px;
}

.intro__item {
    background-color: var(--color-white);
    border-radius: 4px;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 0px 20px 0px #00000017;
}

.intro__item--icon {
    display: block;
}

.intro__item--icon i {
    font-size: 30px;
    color: var(--color-yellow);
    margin-bottom: 30px;
}

.intro__item--descript {
    color: var(--color-disc);
    margin: 20px 0;
}

.intro__about {
    margin: 0px 200px;
    padding: 300px 0 50px 0;
}

.intro__about--btn {
    margin-top: 40px;
}

.intro__about--info {
    width: 50%;
    float: left;
}

.intro__about--disc {
    display: inline-block;
    color: var(--color-disc);
    padding: 20px 50px 0 0;
    line-height: 1.6;
}

.intro__about--img {
    width: 50%;
    float: left;
    border-radius: 0 4px 4px 0;
}

.app__container {
    margin: 100px 185px;
}

.app__col, .data__col {
    float: left;
    padding: 15px 15px;
    width: 25%;
}

.app__item {
    background-color: var(--color-blue);
    border-radius: 5px;
    text-align: center;
    padding: 40px;
}

.app__icon i {
    color: var(--color-white);
    font-size: 40px;
    margin-bottom: 15px;
}

.app__text {
    color: var(--color-white);
}

.data {
    background-color: #f6f6f6;
}

.data__container {
    margin: 0 185px;
}

.data__item {
    margin: 40px 0;
    display: flex;
    align-items: center;
}

.data__item--number {
    color: var(--color-text);
    font-size: 50px;
    font-weight: 600;
}

.data__item--text {
    padding: 0 60px 0 15px;
}

.feel {
    position: relative;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
}

.feel__container--bg {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #002147bd;
}

.feel__container {
    margin: 0 200px;
}

.feel__col {
    float: left;
    width: 50%;
}

.feel__item {
    color: var(--color-white);
    padding: 70px 0;
}

.feel__heading {
    font-size: 40px;
    font-weight: 700;
}

.feel__disc {
    display: inline-block;
    padding: 10px 30px 10px 0;
    line-height: 1.6;
}

.feel__img--item {
    padding: 70px 0;
    text-align: center;
    color: var(--color-white);
}

.feel__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--color-white);
}

.feel__img--item span {
    display: block;
}

.feel__img--name {
    color: var(--color-yellow);
    font-size: 22px;
    font-weight: 600;
    margin: 5px 0;
}

.feel__img--disc {
    margin: 20px 0;
    line-height: 1.6;
}

.calendar {
    background-color: #f6f6f6;
}

.calender__container {
    margin: 0 180px;
}

.calendar__col {
    width: 50%;
    float: left;
}

.calendar__item {
    padding: 100px 20px;
}

.calendar__list--img {
    width: 170px;
    height: 110px;
    border-radius: 4px;
}

.calendar__heading {
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.calendar__list {
    background-color: var(--color-white);
    padding: 20px 20px 0px 20px;
}

.calendar__list--item {
    display: flex;
    margin-bottom: 20px;
}

.calendar__list--item--boder {
    border-bottom: 1px solid rgb(238, 235, 235);
}

.calendar__list--content {
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.calendar__list--content-title {
    font-size: 19px;
    color: var(--color-text);
    font-weight: 600;
}

.calendar__list--content-date {
    color: var(--color-disc);
    margin: 10px 0;
}

.calendar__list--content-text, .calendar__upcom--disc {
    color: var(--color-disc);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.6;
}

.calendar__btn {
    float: right;
}

.calendar__upcom--item {
    background-color: var(--color-white);
    margin-bottom: 20px;
    display: flex;
}

.calendar__upcom--calendar {
    margin: 20px;
}

.calendar__upcom--up {
    border-radius: 5px 5px 0 0;
    background-color: var(--color-yellow);
    display: flex;
    flex-direction: column;
    align-items: center
}

.calendar__upcom--up-number {
    font-size: 40px;
    font-weight: 600;
    padding: 10px 30px 0px 30px;
}

.calendar__upcom--up-text {
    font-size: 20px;
    padding-bottom: 10px;
}

.calendar__upcom--down {
    text-align: center;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 10px 0;
    border-radius: 0 0 5px 5px;
}

.calendar__upcom--text {
    padding: 20px 20px 20px 0;
}

.calendar__upcom--title {
    font-size: 20px;
    color: var(--color-text);
    font-weight: 600;
    display: block;
}

.calendar__upcom--disc {
    width: 100%;
    -webkit-line-clamp: 4;
    margin-top: 10px;
}

.calendar__upcom--time {
    display: flex;
    margin-top: 10px;
    color: var(--color-blue);
}

.calendar__upcom--time--number {
    color: var(--color-blue);
}

.calendar__upcom--time--line {
    width: 1px;
    background-color: var(--color-disc);
    margin: 0 15px;
    height: 20px;
}

.footer {
    background-color: var(--color-blue);
}

.footer__container {
    margin: 0 200px;
    border-bottom: 1px solid #454545;
}

.footer__col {
    float: left;
    width: 33.33333%;
}

.footer__item {
    padding: 40px 0 30px 0;
}

.footer__item ul {
    list-style: none;
}

.footer__item li {
    padding: 7px 30px 7px 0;
}

.footer__item li a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 400;
    line-height: 1.6;
}

.footer__item li i {
    color: var(--color-yellow);
    margin-right: 10px;
}

.footer__heading {
    font-size: 18px;
    color: var(--color-white);
    font-weight: 500;
    margin: 20px 0;
}

.footer__coppyright {
    margin: 40px 200px;
    display: flex;
    justify-content: space-between;
}

.footer__coppyright--coppy {
    color: var(--color-white);
    font-weight: 300;
}

.footer__coppyright--coppy i {
    font-size: 12px;
    margin-right: 5px;
}

.footer__coppyright--text a {
    color: var(--color-white);
    text-decoration: none;
    margin-left: 20px;
}
